*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    color: #555;
}
.login {
    position: absolute;
    left: 38%;
    top: 30%;
    width: 400px;
    box-shadow: 0 0 3px rgba(0,0,0,.8);
    background: #fff;
}
.login-title {
    position: relative;
    line-height: 46px;
    text-indent: 50px;
    background: #f7f7f7;
    cursor: move;
}
.logo {
    position: absolute;
    left: 15px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 25px;
    height: 25px;
    background-image: url("../images/drag.png");  background-position: -0px -0px;;
}
.login-close {
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 22px;
    color: #aaa;
    cursor: pointer;
}
.login-close:hover {
    color: #666;
}
.login-form {
    padding: 40px 20px 60px 20px;
}
.login-input {
    position: relative;
    margin-bottom: 15px;
}
.login-input .ico {
    position: absolute;
    left: 12px;
    top: 50%;
    -webkit-transform: translate(0, -50%) scale(.8);
    -moz-transform: translate(0, -50%) scale(.8);
    -ms-transform: translate(0, -50%) scale(.8);
    -o-transform: translate(0, -50%) scale(.8);
    transform: translate(0, -50%) scale(.8);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.userID-ico {
    background-image: url("../images/drag.png");  background-position: -25px -0px;;
}
input:focus + .userID-ico {
    background-image: url("../images/drag.png");  background-position: -0px -25px;;
}
.password-ico {
    background-image: url("../images/drag.png");  background-position: -25px -25px;;
}
input:focus + .password-ico {
    background-image: url("../images/drag.png");  background-position: -50px -0px;;
}
.login-input input {
    width: 100%;
    height: 42px;
    padding-left: 40px;
    box-sizing: border-box;
    border: none;
    border: 1px solid #ccc;
    background: #fff;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
}
.login-input input:focus {
    outline-color: #66a690;
}
.login-checkbox{
    font-size: 12px;
    text-align: right;
    line-height: 1.5;
}
.login-checkbox label {
    display: inline-block;

}
.login-checkbox input {
    margin-right: 3px;
    vertical-align: middle;
}
.login-submit button {
    width: 100%;
    height: 48px;
    margin-top: 12px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    outline: none;
    cursor: pointer;
    background: #66a690;
}
.login-submit button:active {
    background: #609e89;
}