*{ margin:0; padding:0;}
body {
	font-family: Consolas, "微软雅黑", Monaco;
	background: url("../images/img07.jpg") no-repeat;
}
.container {
	width: 500px;
	margin: 50px auto;
	font-size: 22px;
}
.catalog {
	padding: 40px 60px;
	border: 1px solid #eee;
	border-radius: 5px;
	box-shadow: 2px 2px 3px #ececec;
	list-style: none;
	background: rgba(255, 255, 255, .75);
}
.catalog li {
	border-bottom: 1px solid #f2f2f2;
	line-height: 40px;
}
.catalog li:last-child {
	border-bottom: none;
}
.catalog h1 {
	line-height: 50px;
	font-size:20px;
	cursor: pointer;
	color: #0a8cd2;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}
.catalog h1:hover {
	padding-left: 20px;	
	text-shadow: 1px 1px 2px rgba(0,0,0,.1);
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}
.sub-catalog {
	display: none;
	padding-left: 20px;
	font-size: 17px;
}
.sub-catalog a {
	display: block;
	color: #0a8cd2;
	text-decoration: none;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}
.sub-catalog a:hover {
	color: #f60;
	padding-left: 20px;
	color: #0a8cd2;	
	text-decoration: none;
	text-shadow: 1px 1px 2px rgba(0,0,0,.1);
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}
.sub-catalog dd {
	position: relative;
}
.sub-catalog .code {
	position: absolute;
	right: 0;
	top: 11px;
	width: 20px;
	height: 20px;
	background: url(../images/code.png) no-repeat center;
	background-size: 20px 20px;
}
.sub-catalog .code:hover {
	padding: 0;
}
